/**
 * Slidebox default styles
 * 
 * http://github.com/keithjgrant/slidebox
 * Version 0.9
 */

.slidebox-container {
    position: relative;
}

.slidebox {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* iOS swipe-scroll support */
    padding: 10px;
}

.slidebox-content {
}

.slidebox-controls {
  position: absolute;
  top: 45%;
  bottom: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.slidebox-left {
  background: rgba(128, 128, 128, 0.5) image_url('left-arrow.png') center center no-repeat;
  left: -50px;
}

.slidebox-right {
  background: rgba(128, 128, 128, 0.5) image_url('right-arrow.png') center center no-repeat;
  right: -50px;
}

